@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Sacramento&display=swap');

*{
    scroll-behavior: smooth;
}
html{
    overflow-x: hidden;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    height: 100vh;

    background-color: #f2f2f2;
    color: #4d4d4d;
}
#scroll-bar-wrapper{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100vh;
}

#trailer{
    width: 20px;
    height: 20px;
    background-color: #aeae9d;
    position: fixed;
    border-radius: 50%;

    left: 0;
    top: 0;
    z-index: 10000;
    pointer-events: none;

    opacity: 1;
}

body:hover > #trailer{
    opacity: 1;
}



.nav-bar{
    display: flex;
    flex-direction: row;
    font-family: Helvetica;
    border-bottom: 1px solid;
    flex-grow: 1;
}
.logo-area{
    width: 3rem;
    padding:0.5rem 1rem;
    font-size: 56px;
    font-weight: 100;
    border-right: 1px solid;
    text-align: center;
}
.nav-area{
    display: flex;
    flex-grow: 1;
    align-items: center;
}
.nav-name{
    flex-grow: 1;
    margin: auto;
    padding-left: 1rem;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
    "slnt" 0;
}
.swe{
    color: #8c8c73;
}
.nav-button{
    margin: 0rem 1rem;
    margin-right: 2rem;
    padding: 0.5rem 0rem;
    width: 150px;
    max-height: 50px;
    font-size: 16px;
    font-weight: 100;
    border: none;
    background-color: black;
    color: whitesmoke;
    border-radius: 40px;
    overflow: hidden;
}
.Button {
    font-family: Helvetica;
    font-weight: 100;
    margin: 0rem 1rem;
    margin-right: 2rem;
    letter-spacing: -0.02em;
    color: #444638;
    font-size: 16px;
    position: relative;
    border-radius: 80em;
    background-color: #11190c;
    border: 0.125rem solid #11190c;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.2s ease, border-color 0.2s ease,
      color 0.2s ease, fill 0.2s ease, transform 0.2s ease-in-out;
    cursor: pointer;
    overflow: hidden;
    will-change: transform;
    padding: 8px 20px;
    display: inline-block;
  }
  .Button:hover {
    background-color: #aeae9d;
    border-color: #aeae9d;
    transition: background-color 0.2s ease, border-color 0.2s ease,
      color 0.2s ease, fill 0.2s ease, transform 0.2s ease-in-out;
    will-change: transform;
    color: #11190c;
  }
  .Button:after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%) rotate(10deg);
    transform-origin: top left;
    transition: background-color 0.2s ease, border-color 0.2s ease,
      color 0.2s ease, fill 0.2s ease, transform 0.2s ease-in-out;
    will-change: transform;
    z-index: -1;
    border-radius: 80em;
    background-color: #aeae9d;
  }
  .Button:hover:after {
    transform: translate(0);
    z-index: 0;
  }
  .Button > * {
    position: relative;
    z-index: 1;
  }
  .Button__inner {
    color: white;
  }
  .Button:hover .Button__inner {
    color: white;
  }
.main-body{
    overflow-x: hidden;
    display: flex;
    font-family: Helvetica;
}
.left-space{
    min-width: 3rem;
    padding: 1rem;
    border-right: 1px solid;
    z-index: 1;
}
.main-content{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-direction: column;
}
.m-name-desc{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    padding: 4rem 0rem;
    margin: 6rem 0rem;
}
.description{
    padding-bottom: 1rem;
    border-bottom: 1px solid;
    text-align: left;
}
.fcc{
    text-align: left;
    font-size: small;
}
.name{
    flex-grow: 1;
    font-size: clamp(64px, 5vw, 100px);
    margin: 0;
    margin-left: 1rem;
    margin-right: 1rem;

    animation: opacity-transform 1.5s cubic-bezier(0,.68,.44,1.01);
}

@keyframes opacity-transform{
    from{
        opacity: 0;
        transform: translateY(5%);
    }
    to{
        opacity: 1;
        transform: translateY(0%);
    }
}

.description-container{
    font-size: larger;
    font-weight: lighter;
    margin-right: 4rem;
    margin-left: 1rem;

    animation: opacity-transform 1.5s cubic-bezier(0,.68,.44,1.01);
    animation-delay: 100ms;
}
.witty-line{
    margin-left: 1rem;
    margin-right: 1rem;
    padding-bottom: 0.5rem;
    flex-grow: 1;
}
.wit{
    padding-bottom: 1rem;
    border-bottom: 1px solid;

    color: #bcbdb3;
}

.dot-grid{
    flex-grow: 1;
    height: 200px;
    margin: 0rem 0.5rem;
    border: none;
    --dot-bg: #f2f2f2;
  --dot-color: black;
  --dot-size: 1px;
  --dot-space: 22px;
	background:
		linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		var(--dot-color);
}

.project-details{
    display: flex;
    flex-wrap: wrap;

    border: 1px solid;
    border-left: none;
    border-right: none;
    margin: 3rem 1rem;
    padding: 0;
}
.centering{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}
.project-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    height: auto;
    margin: 1rem 0rem;
    overflow: hidden;
    border-radius: 10px;
}
.projects{
    max-width: inherit;
    margin: 0rem auto;
    max-height:600px;
    object-fit: cover;
    display: flex;
    gap: 2%;
    transition: cubic-bezier(0,.61,.45,.99) 600ms;
    transform: translate(-0%,0%);
    pointer-events: none;
}

.test-img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transform: translate(-0%, 0%);
}
.project-info{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 1rem 1rem;
    margin-top: 1rem;
    margin-bottom: 0rem;
    flex-wrap: wrap;
}
.proj-tech-date{
    margin-top: 1.5rem;
    display: flex;
    gap: 3rem;
}
.proj-tech-container{
    font-size: 14px;
    margin-top: 0;
    flex: 1;
}
.wipe-wrapper{
    overflow: hidden;
}
.project-tech{
    transform: translate(0%, 00%);
    margin: 0;
}

.project-name-desc{
    display: flex;
    flex-direction: column;

}
.project-name{
    margin: 0;
    font-size: clamp(22px, 5vw, 36px);;
}
.project-description{
    margin: 0;
    font-size: 16px;
    font-weight: 100;
}
.date-wrapper{
    overflow: hidden;
}
.project-date{
    margin: 0;
    font-size: clamp(10px, 5vw, 14px);
}

.project-header{
    display: flex;
    flex-grow: 1;
    margin: 1rem 1rem;
    margin-top: 3rem;
    margin-bottom: 0rem;
    align-items: center;
    flex-wrap: wrap;
}
.ph-heading{
    flex-grow: 1;
    font-size: clamp(56px, 6vw, 92px);
    font-weight: 100;
    margin: 0;
}
.ph-desc{
    font-weight: lighter;
    font-size: large;
    margin: 1;
    margin-left: 0.5rem;
    margin-right: 4rem;
    padding-bottom: .7rem;
    border-bottom: 1px solid;
}
.btn-fix{
    margin: 1rem;
    padding: 1rem;
    min-width: 50px;
    max-width: 50px;
    height: 50px;
    border-radius: 50px;
    border: none;
    background-color: #5f6660;
    color: white;
}
.prev{
    z-index: 100;
    margin: 0.5rem;
}
.next{
    z-index: 100;
    margin: 0.5rem;
}

.footer{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #0e0e0c;
    border-radius: 10px;
    color: #ddddd5;
    margin: 1rem;
    margin-top: 5rem;
}
.f-closure{
    font-size: clamp(44px, 8vw, 136px);
    font-weight: 400;
    margin: 1rem;
}
.footer-header{
    flex-grow: 1;
    margin: 1rem 0rem 1rem 0rem;
    transform: translate(0%,0%);
}
.footer-links{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    text-align: left;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    margin: 0rem 1rem 1rem 2rem;
    flex-grow: 1;
}
.fa-brands{
    margin-right: 0.5rem;
}
.f-links-wrapper{
    flex-grow: 1;
    margin: 0rem 1rem;
    overflow: hidden;
}
.f-links{
    text-decoration: none;
    color: #d1d1c7;
    font-weight: 100;
}
#linkanimation {
    text-decoration: none;
    text-decoration-color: none;
    color: #d1d1c7;
    position: relative;
  }
  #linkanimation::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #FEFEFE;
    transform: scale(1,1);
    transition: background-color .5s ease-in-out;
    bottom: 0px;
  }
  #linkanimation:hover::before {
    animation: link ease 1s 1 300ms;
    transform-origin: right;  
  }
  @keyframes link {
    50%{
      transform: scaleX(0);
    }
    50.1% {
      transform: translateX(-100%) scalex( -0.01);   
    }
    100% {
      transform: translateX(-100%) scalex(-1);
    }
  }
.footer-credits{
    display: flex;
    margin: 3rem 2rem 1rem 2rem;
    padding-top: 1rem;
    border-top: 1px solid #5f6660;
}
.f-name{
    flex-grow: 1;
}
.f-folio{
    text-align: right;
    flex-grow: 1;
}
.footer-body{
    display: flex;
    align-items: center;
}
.f-scroll-top{
    background-color: #5f6660;
    border: none;
    margin: 2rem;
    margin-right: 3rem;
    text-decoration: none;
    font-size: 16px;
    color: white;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    transition: all ease-out 300ms;
    object-fit: cover;
}
.f-scroll-top:hover{
    background-color: #3d413d;
}
.arrow-icon{
    transition: all cubic-bezier(0,.61,.45,.99) 300ms;
}
.f-scroll-top:hover > .arrow-icon{
    transform: translate(0%, -15%);
}

.ts-slider-container{
    display: flex;
    margin: 2rem 1rem;
    border: solid;
    border-width: 1px;
    border-radius: 8px;
    flex-wrap: wrap;
    overflow: hidden;
}
.ts-section{
    flex: 1;
    padding: 2rem 2rem;
    font-size: 14px;
    font-weight: 100;
    box-shadow: 0 1px 0 0 black, /* Bottom outline */
    1px 0 0 0 black; /* Right outline */
    min-width: 70px;
    display: flex;
    flex-direction: column;
    gap: 6rem;
    transition: all 300ms ease;
}
.ts-icon{
    font-size: 24px;
    margin-bottom: 1rem;
}
.ts-skill{
    margin: 0;
    font-family: Helvetica;
}
.ts-section:hover{
    background-color: #d9d9d9;
    outline: 1px solid;
}

.ts-heading{
    font-size: clamp(66px, 10vw, 96px);
}
.dot{
    width: 6px;
    height: 6px;
    background-color: #3d413d;
    border-radius: 50%;
}

#localtime{
    margin: 1rem 2rem;
    flex-grow: 1;
}

@keyframes infinity-slide {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translate(-100%);
    }
}

@keyframes wipe{
    from{
        transform: translate(0%, 100%);
    }
    to{
        transform: translate(0%, 0%);
    }
}

.logo{
    scale: 1.5;
}

@media screen and (max-width: 480px) {
    .left-space{
        min-width: 0;
        padding: 0;
        margin: 0;
        border: none;
    }
    .ts-section{
        padding: 1rem 1rem;
        gap: 3rem;
    }
    .Button{
        margin-right: 1rem;
    }
    #localtime{
        margin: 1rem;
        margin-right: 0rem;
    }
    .footer-links{
        margin-left: 1rem;
    }
    .f-scroll-top{
        margin-right: 1rem;
    }
}

@media screen and (max-width: 390px) {
    .name{
        font-size: 48px;
    }
    .ph-heading{
        font-size: 48px;
    }
}